.error{
    color:red;
    margin: 5px 0;
}

.feedback{
    display: inline-block;
    width: 400px;
}

ul#itemList{
    width:200px;
    padding: 20px;
    border: 2px solid grey;
}

    li{
        list-style-type: none;
        padding: 5px;
        height:100px;
        border: 1px solid blue;
    }

.filter{
    display: inline-block;
    vertical-align: top;
}

#title {
    width: 183px;
    height: 28px;
    padding: 0 37px 1px 15px;
    background: #EEE;
    color: #555;
    font: 13px/28px Tahoma, Arial, sans-serif;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
}

#textarea {
    width: 183px;
    height: 100px;
    padding: 0 37px 1px 15px;
    background: #EEE;
    color: #555;
    font: 13px/28px Tahoma, Arial, sans-serif;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
}

#search {
    width: 235px;
    height: 29px;
}

#search input {
    float: left;
    border: none;
}

#search .input {
    width: 183px;
    height: 28px;
    padding: 0 37px 1px 15px;
    background: #EEE url(https://lh4.googleusercontent.com/-EllJnywnmlY/UAaKJYSYYMI/AAAAAAAABUU/IaRo-yUcRmc/s235/search.png) no-repeat;
    color: #555;
    font: 13px/28px Tahoma, Arial, sans-serif;
    outline: none;
}

#search .input:focus {
    background-color: #E8E8E8;
    background-position: 0 -29px;
    color: #333;
}

#search .submit {
    width: 37px;
    height: 29px;
    cursor: pointer;
    margin-left: -37px;
    background: none;
}

.btn{
    width:80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
    cursor: pointer;
}

.search {
    color: red;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline;
}